.container {
	border-top: 2px solid gray;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 518px;
	margin: auto;
}

form {
	display: inline-block;
	margin: 80px;
}

input {
	display: block;
	width: 290px;
	font-size: 17pt;
	
	padding: 6px;
	margin: 25px;
	margin-left: auto;
	margin-right: auto;
}

button {
	width: 306px;
	font-size: 17pt;
}

.error-message {
	padding: 25px;
	color: red;
}

.signup {
	
}