h2 {
    border: 1px solid gray;
    border-left: none;
    border-right: none;

    padding: 7px;
    padding-left: 10px;
    margin-bottom: 0;

    background-color: #eee;
}

div.post-info {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid gray;
    padding: 5px;
    padding-left: 10px;

    font-size: 10pt;
}
div.post-content {
    padding: 10px;
    margin-bottom: 30px;
}

div.comments > div {
    border: 1px solid gray;
    border-left: none;
    border-right: none;

    font-size: 15pt;
    font-weight: bold;

    padding: 5px;
    padding-left: 10px;
}
div.comments ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
div.comments li {
    border: 1px solid gray;
    margin: 10px;
}
div.comment-info {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid gray;
    background-color: #eee;

    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;

    font-size: 10pt;
}
div.comments .comment-content {
    padding: 7px;
}

form#newComment {
    border-top: 2px dotted gray;
    margin-top: 20px;
}
form#newComment div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
form#newComment span {
	font-size: 14pt;
}
form#newComment textarea#content {
    width: 944px;
    margin: 10px;
    margin-top: 0;
    padding: 7px;
}